@page
@model ItemsModel
@if (HttpContext.Session.GetInt32("UserId").HasValue)
{
 @*    <form method="post">
        @foreach (var item in Model.Items)
        {
            <div class="item">
                
                @if (HttpContext.Session.GetString("IsAdmin") == "True")
                {
                    <a href="/EditItems?id_item=@item.Id">@item.Name</a>
                }
                else
                {
                    <a>@item.Name</a>
                }
                <br>
                <Button type="submit" name="item_entf_id" value="@item.Id">Entfernen</Button>
                @foreach (var CountItem in Model.CountItems)
                {
                    if (CountItem.id_item == item.Id)
                    {
                        <p>@CountItem.Count</p>
                    }
                }
                <Button type="submit" name="item_sub_id" value="@item.Id">Hinzufügen</Button>
                <p>@item.Description</p>
                <p>Price: @item.Price</p>
            </div>
        }
    </form> *@
    <nav class="navbar navbar-expand-lg navbar-light bg-light searching-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Searching</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @* <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul> *@
                <form class="d-flex" method="get">
                    <a class="category-label">Category: </a>
                    <select class="category-dropdown" asp-items="Model.Categorys" asp-for="category_query"></select>
                    <input class="form-control me-2 search-field" type="search" placeholder="Search" aria-label="Search" name="search_query" id="search_query" value="@Model.search_query">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <form method="post">
        <div class="flexed">
            @foreach (var item in Model.Items)
            {
            <div class="card" style="width: 18rem;">
              <img src="@item.Filepath@item.Filename" class="card-img-top" alt="...">
              <div class="card-body">
                @* <h5 class="card-title"> *@
                        @if (HttpContext.Session.GetString("IsAdmin") == "True")
                        {
                            <a href="/EditItems?id_item=@item.Id">@item.Name</a>
                        }
                        else
                        {
                            <a>@item.Name</a>
                        }
                @* </h5> *@
                <br>
                <p class="card-text">@item.Description</p>
                <div class="item-buttons">
                    <Button class="btn btn-primary" type="submit" name="item_sub_id" value="@item.Id">Hinzufügen</Button>
                    @foreach (var CountItem in Model.CountItems)
                    {
                        if (CountItem.id_item == item.Id)
                        {
                            <p>@CountItem.Count</p>
                        }
                    }
                            <Button class="btn btn-primary" type="submit" name="item_entf_id" value="@item.Id">Entfernen</Button>
                </div>
              </div>
            </div>
            }
        </div>
    </form>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalItems; i++)
            {
                @if (!string.IsNullOrEmpty(Model.search_query) && string.IsNullOrEmpty(Model.category_query))
                {
                    <li class="page-item"><a class="page-link" href="/Items?id_page=@i&search_query=@Model.search_query">@i</a></li>
                }
                else if (!string.IsNullOrEmpty(Model.search_query) && !string.IsNullOrEmpty(Model.category_query))
                {
                    <li class="page-item"><a class="page-link" href="/Items?id_page=@i&search_query=@Model.search_query&category_query=@Model.category_query">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/Items?id_page=@i">@i</a></li>
                }
            }
            
        </ul>
    </nav>
    <h1>@Model.item_total_sum</h1>
}
